#include <picotorrent/ui/resources.hpp>
#include <windows.h>
#include <commctrl.h>

IDI_APPICON     ICON    "..\\res\\app.ico"

// Strings
STRINGTABLE
{
    IDS_PREFS_DOWNLOADS_TITLE, "Downloads"
    IDS_PREFS_CONNECTION_TITLE, "Connection"
    IDS_PREFS_ADVANCED_TITLE, "Advanced"
    IDS_DETAILS_OVERVIEW_TITLE, "Overview"
}

// Accelerators
IDR_PICO_ACCELERATORS ACCELERATORS
{
    "^A",      IDA_SELECT_ALL
    VK_DELETE, IDA_REMOVE_TORRENTS, VIRTKEY
    VK_DELETE, IDA_REMOVE_TORRENTS_DATA, VIRTKEY, SHIFT
}

// Main menu
IDR_MAINMENU MENU
{
    POPUP "&File"
    {
        MENUITEM "&Add torrent", ID_FILE_ADDTORRENT
        MENUITEM SEPARATOR
        MENUITEM "E&xit", ID_FILE_EXIT
    }

    POPUP "&View"
    {
        MENUITEM "&Preferences", ID_VIEW_PREFERENCES
    }

    POPUP "&Help"
    {
        MENUITEM "&About", ID_HELP_ABOUT
    }
}

// Notify icon context menu
IDR_NOTIFYICON_CONTEXT_MENU MENU DISCARDABLE
{
    POPUP ""
    {
        MENUITEM "&Add torrent", ID_NOTIFYICON_ADD
        MENUITEM SEPARATOR
        MENUITEM "E&xit", ID_NOTIFYICON_EXIT
    }
}

// Torrent context menu
IDR_TORRENT_CONTEXT_MENU MENU DISCARDABLE
{
    POPUP ""
    {
        MENUITEM "Pause", TORRENT_CONTEXT_MENU_PAUSE
        MENUITEM "Resume", TORRENT_CONTEXT_MENU_RESUME
        MENUITEM "Resume (force)", TORRENT_CONTEXT_MENU_RESUME_FORCE
        MENUITEM SEPARATOR
        MENUITEM "Move", TORRENT_CONTEXT_MENU_MOVE
        POPUP "Remove"
        {
            MENUITEM "Remove torrent", TORRENT_CONTEXT_MENU_REMOVE
            MENUITEM "Remove torrent and files", TORRENT_CONTEXT_MENU_REMOVE_DATA
        }
        MENUITEM SEPARATOR
        MENUITEM "Copy info hash", TORRENT_CONTEXT_MENU_COPY_SHA
        MENUITEM "Open in Explorer", TORRENT_CONTEXT_MENU_OPEN_IN_EXPLORER
    }
}

// Torrent file context menu
IDR_TORRENT_FILE_MENU MENU DISCARDABLE
{
    POPUP ""
    {
        POPUP "Priority"
        {
            MENUITEM "Maximum", TORRENT_FILE_PRIO_MAX
            MENUITEM "High", TORRENT_FILE_PRIO_HIGH
            MENUITEM "Normal", TORRENT_FILE_PRIO_NORMAL
            MENUITEM SEPARATOR
            MENUITEM "Do not download", TORRENT_FILE_PRIO_SKIP
        }
    }
}

// Preferences dialog
IDD_PREFERENCES DIALOGEX 0, 0, 200, 109
CAPTION "Preferences"
FONT 8, "MS Shell Dlg"
STYLE DS_MODALFRAME | WS_POPUP | WS_CAPTION | WS_SYSMENU | WS_VISIBLE
{
    GROUPBOX "Connection", -1, 5, 5, 190, 30

    LTEXT "Listen port", -1, 10, 20, 80, 10
    EDITTEXT ID_PREFS_LISTENPORT, 90, 19, 25, 11

    GROUPBOX "Downloads", -1, 5, 40, 190, 45

    LTEXT "Default save path", -1, 10, 55, 80, 10
    EDITTEXT ID_PREFS_DEFSAVEPATH, 90, 54, 80, 11
    PUSHBUTTON "...", ID_PREFS_DEFSAVEPATH_BROWSE, 172, 52, 18, 14

    LTEXT "Prompt for save path", -1, 10, 70, 80, 10
    CHECKBOX "", ID_PREFS_PROMPTFORSAVEPATH, 90, 69, 15, 11

    DEFPUSHBUTTON "OK", IDOK, 145, 90, 50, 14
}

// About dialog
IDD_ABOUT DIALOGEX 0, 0, 200, 200
CAPTION "About PicoTorrent"
FONT 8, "MS Shell Dlg"
STYLE DS_MODALFRAME | WS_POPUP | WS_CAPTION | WS_SYSMENU | WS_VISIBLE
{
    ICON IDI_APPICON, 4654, 10, 10, 0, 0

    CTEXT "", 1011, 10, 100, 180, 20
    CTEXT "", 1012, 10, 120, 180, 20

    LTEXT "Built with love, using Boost, Rasterbar-libtorrent and OpenSSL.", -1, 10, 150, 180, 40

    CONTROL "", 1013, "SysLink", WS_CHILD, 10, 185, 180, 12
}

// Add torrent dialog
IDD_ADD_TORRENT DIALOGEX 0, 0, 300, 215
CAPTION "Add torrent(s)"
FONT 9, "MS Shell Dlg"
STYLE DS_MODALFRAME | WS_POPUP | WS_VISIBLE | WS_CAPTION | WS_SYSMENU
{
    LTEXT "Torrent", -1, 10, 10, 80, 10
    COMBOBOX 5001, 100, 10, 190, 10, CBS_DROPDOWNLIST | WS_VSCROLL | WS_TABSTOP

    LTEXT "Size", -1, 10, 25, 80, 10
    LTEXT "500MiB", 5002, 100, 25, 80, 10

    GROUPBOX "Storage" -1, 10, 40, 280, 150
    LTEXT "Save path", -1, 15, 50, 40, 10
    EDITTEXT 5003, 100, 50, 160, 10
    PUSHBUTTON "...", 5005, 265, 50, 20, 10

    CONTROL "", 5004, WC_LISTVIEW, LVS_REPORT | WS_BORDER, 15, 65, 270, 120

    PUSHBUTTON "Add torrent(s)", IDOK, 240, 195, 55, 14
}

// Preferences - Downloads
6767 DIALOGEX 0, 0, 252, 215
FONT 9, "MS Shell Dlg"
{
    // -- Default save path
    GROUPBOX "Transfers", -1, 5, 10, 240, 45

    LTEXT "Path", -1, 15, 23, 50, 10
    EDITTEXT ID_PREFS_DEFSAVEPATH, 75, 23, 140, 11
    PUSHBUTTON "...", ID_PREFS_DEFSAVEPATH_BROWSE, 220, 23, 18, 11

    CHECKBOX "Prompt for save path", ID_PREFS_PROMPTFORSAVEPATH, 15, 38, 80, 11
}

// Preferences - Connection
6768 DIALOGEX 0, 0, 0, 0
FONT 9, "MS Shell Dlg"
{
    // -- Listen interface
    GROUPBOX "Listen interface", -1, 5, 10, 240, 45

    LTEXT "Address", -1, 15, 23, 80, 10
    CONTROL "", 1010, WC_IPADDRESS, WS_CHILD, 75, 23, 80, 11

    LTEXT "Port", -1, 15, 38, 80, 10
    EDITTEXT ID_PREFS_LISTENPORT, 75, 38, 30, 11, ES_NUMBER

    // -- Proxy
    GROUPBOX "Proxy", -1, 5, 68, 240, 120

    LTEXT "Type", -1, 15, 81, 80, 10
    COMBOBOX ID_PREFS_PROXY_TYPE, 75, 81, 120, 10, CBS_DROPDOWNLIST | WS_VSCROLL | WS_TABSTOP

    LTEXT "Host", -1, 15, 96, 80, 10
    EDITTEXT ID_PREFS_PROXY_HOST, 75, 96, 163, 11

    LTEXT "Port", -1, 15, 111, 80, 10
    EDITTEXT ID_PREFS_PROXY_PORT, 75, 111, 30, 11, ES_NUMBER

    LTEXT "Username", -1, 15, 126, 80, 10
    EDITTEXT ID_PREFS_PROXY_USERNAME, 75, 126, 80, 11

    LTEXT "Password", -1, 15, 141, 80, 10
    EDITTEXT ID_PREFS_PROXY_PASSWORD, 75, 141, 80, 11, ES_PASSWORD

    CHECKBOX "Force proxy", ID_PREFS_PROXY_FORCE, 15, 156, 80, 10
    CHECKBOX "Proxy hostnames", ID_PREFS_PROXY_HOSTNAMES, 125, 156, 80, 10

    CHECKBOX "Proxy peer connections", ID_PREFS_PROXY_PEERS, 15, 171, 100, 10
    CHECKBOX "Proxy tracker connections", ID_PREFS_PROXY_TRACKERS, 125, 171, 100, 10
}

// Preferences - Advanced
6769 DIALOGEX 0, 0, 0, 0
FONT 9, "MS Shell Dlg"
{
    GROUPBOX "Experimental", -1, 5, 10, 240, 30

    CHECKBOX "Use PicoTorrent peer id and user agent", ID_PREFS_ADV_USE_PICO_ID, 15, 23, 160, 10
}

// Details - Overview
IDD_DETAILS_OVERVIEW DIALOGEX 0, 0, 252, 215
FONT 9, "MS Shell Dlg"
{
    GROUPBOX "Limits", -1, 5, 10, 240, 150

    LTEXT "DL limit", -1, 15, 23, 80, 10
    EDITTEXT ID_DETAILS_DL_LIMIT, 75, 22, 30, 11, ES_RIGHT
    LTEXT "(KB/s, 0: unlimited)", -1, 110, 23, 80, 10

    LTEXT "UL limit", -1, 15, 38, 80, 10
    EDITTEXT ID_DETAILS_UL_LIMIT, 75, 37, 30, 11, ES_RIGHT
    LTEXT "(KB/s, 0: unlimited)", -1, 110, 38, 80, 10

    LTEXT "Max connections", -1, 15, 53, 80, 10
    EDITTEXT ID_DETAILS_MAX_CONNECTIONS, 75, 52, 30, 11, ES_RIGHT
    LTEXT "(-1: unlimited)", -1, 110, 53, 80, 10

    LTEXT "Max uploads", -1, 15, 68, 80, 10
    EDITTEXT ID_DETAILS_MAX_UPLOADS, 75, 67, 30, 11, ES_RIGHT
    LTEXT "(-1: unlimited)", -1, 110, 68, 80, 10

    CHECKBOX "Sequential download", ID_DETAILS_SEQUENTIAL_DOWNLOAD, 75, 83, 80, 10

    //EDITTEXT -1, 10, 20, 230, 65, ES_LEFT | ES_MULTILINE | ES_WANTRETURN | WS_TABSTOP
}
