#include <picotorrent/ui/resources.hpp>
#include <windows.h>
#include <commctrl.h>

IDI_APPICON     ICON    "..\\res\\app.ico"

// Accelerators
IDR_PICO_ACCELERATORS ACCELERATORS
{
    "^A",      IDA_SELECT_ALL
    VK_DELETE, IDA_REMOVE_TORRENTS, VIRTKEY
}

// Main menu
IDR_MAINMENU MENU
{
    POPUP "&File"
    {
        MENUITEM "&Add torrent", ID_FILE_ADDTORRENT
        MENUITEM SEPARATOR
        MENUITEM "E&xit", ID_FILE_EXIT
    }

    POPUP "&View"
    {
        MENUITEM "&Preferences", ID_VIEW_PREFERENCES
    }

    POPUP "&Help"
    {
        MENUITEM "&About", ID_HELP_ABOUT
    }
}

// Notify icon context menu
IDR_NOTIFYICON_CONTEXT_MENU MENU DISCARDABLE
{
    POPUP ""
    {
        MENUITEM "&Add torrent", ID_NOTIFYICON_ADD
        MENUITEM SEPARATOR
        MENUITEM "E&xit", ID_NOTIFYICON_EXIT
    }
}

// Torrent context menu
IDR_TORRENT_CONTEXT_MENU MENU DISCARDABLE
{
    POPUP ""
    {
        MENUITEM "Pause", TORRENT_CONTEXT_MENU_PAUSE
        MENUITEM "Resume", TORRENT_CONTEXT_MENU_RESUME
        MENUITEM "Resume (force)", TORRENT_CONTEXT_MENU_RESUME_FORCE
        MENUITEM SEPARATOR
        MENUITEM "Move", TORRENT_CONTEXT_MENU_MOVE
        POPUP "Remove"
        {
            MENUITEM "Remove torrent", TORRENT_CONTEXT_MENU_REMOVE
            MENUITEM "Remove torrent and files", TORRENT_CONTEXT_MENU_REMOVE_DATA
        }
        MENUITEM SEPARATOR
        MENUITEM "Copy info hash", TORRENT_CONTEXT_MENU_COPY_SHA
        MENUITEM "Open in Explorer", TORRENT_CONTEXT_MENU_OPEN_IN_EXPLORER
    }
}

// Torrent file context menu
IDR_TORRENT_FILE_MENU MENU DISCARDABLE
{
    POPUP ""
    {
        POPUP "Priority"
        {
            MENUITEM "Maximum", TORRENT_FILE_PRIO_MAX
            MENUITEM "High", TORRENT_FILE_PRIO_HIGH
            MENUITEM "Normal", TORRENT_FILE_PRIO_NORMAL
            MENUITEM SEPARATOR
            MENUITEM "Do not download", TORRENT_FILE_PRIO_SKIP
        }
    }
}

// Preferences dialog
IDD_PREFERENCES DIALOGEX 0, 0, 200, 109
CAPTION "Preferences"
FONT 8, "MS Shell Dlg"
STYLE DS_MODALFRAME | WS_POPUP | WS_CAPTION | WS_SYSMENU | WS_VISIBLE
{
    GROUPBOX "Connection", -1, 5, 5, 190, 30

    LTEXT "Listen port", -1, 10, 20, 80, 10
    EDITTEXT ID_PREFS_LISTENPORT, 90, 19, 25, 11

    GROUPBOX "Downloads", -1, 5, 40, 190, 45

    LTEXT "Default save path", -1, 10, 55, 80, 10
    EDITTEXT ID_PREFS_DEFSAVEPATH, 90, 54, 80, 11
    PUSHBUTTON "...", ID_PREFS_DEFSAVEPATH_BROWSE, 172, 52, 18, 14

    LTEXT "Prompt for save path", -1, 10, 70, 80, 10
    CHECKBOX "", ID_PREFS_PROMPTFORSAVEPATH, 90, 69, 15, 11

    DEFPUSHBUTTON "OK", IDOK, 145, 90, 50, 14
}

// About dialog
IDD_ABOUT DIALOGEX 0, 0, 200, 200
CAPTION "About PicoTorrent"
FONT 8, "MS Shell Dlg"
STYLE DS_MODALFRAME | WS_POPUP | WS_CAPTION | WS_SYSMENU | WS_VISIBLE
{
    ICON IDI_APPICON, 4654, 10, 10, 0, 0

    CTEXT "", 1011, 10, 100, 180, 20
    CTEXT "", 1012, 10, 120, 180, 20

    LTEXT "Built with love, using Boost, Rasterbar-libtorrent and OpenSSL.", -1, 10, 150, 180, 40

    CONTROL "", 1013, "SysLink", WS_CHILD, 10, 185, 180, 12
}

// Add torrent dialog
IDD_ADD_TORRENT DIALOGEX 0, 0, 300, 215
CAPTION "Add torrent(s)"
FONT 9, "MS Shell Dlg"
STYLE DS_MODALFRAME | WS_POPUP | WS_VISIBLE | WS_CAPTION | WS_SYSMENU
{
    LTEXT "Torrent", -1, 10, 10, 80, 10
    COMBOBOX 5001, 100, 10, 190, 10, CBS_DROPDOWNLIST | WS_VSCROLL | WS_TABSTOP

    LTEXT "Size", -1, 10, 25, 80, 10
    LTEXT "500MiB", 5002, 100, 25, 80, 10

    GROUPBOX "Storage" -1, 10, 40, 280, 150
    LTEXT "Save path", -1, 15, 50, 40, 10
    EDITTEXT 5003, 100, 50, 160, 10
    PUSHBUTTON "...", 5005, 265, 50, 20, 10

    CONTROL "", 5004, WC_LISTVIEW, LVS_REPORT | WS_BORDER, 15, 65, 270, 120

    PUSHBUTTON "Add torrent(s)", IDOK, 240, 195, 55, 14
}
