#include <picotorrent/ui/resources.hpp>

IDR_TORRENT_CONTEXT_MENU MENU DISCARDABLE
{
    POPUP ""
    {
        MENUITEM "Pause", TORRENT_CONTEXT_MENU_PAUSE
        MENUITEM "Resume", TORRENT_CONTEXT_MENU_RESUME
        MENUITEM SEPARATOR
        MENUITEM "Move", TORRENT_CONTEXT_MENU_MOVE
        MENUITEM "Remove", TORRENT_CONTEXT_MENU_REMOVE
        MENUITEM SEPARATOR
        MENUITEM "Copy info hash", TORRENT_CONTEXT_MENU_COPY_SHA
    }
}
