$packageName = 'picotorrent'
$installerType = 'exe'
$url = 'https://github.com/picotorrent/picotorrent/releases/download/v%{Version}/PicoTorrent-%{Version}-x86.exe'
$url64 = 'https://github.com/picotorrent/picotorrent/releases/download/v%{Version}/PicoTorrent-%{Version}-x64.exe'
$silentArgs = '/quiet'
$validExitCodes = @(0,3010)

Install-ChocolateyPackage $packageName $installerType $silentArgs $url $url64 -validExitCodes $validExitCodes
