build-x64/
build-x86/
docs/build
packaging/Chocolatey/tools/chocolateyinstall.ps1
packaging/UWP/PicoTorrent.mapping
packaging/UWP/PicoTorrentManifest.xml
src/VersionInformation.cpp
src/core/version_info.cpp
tools/Cake
tools/Cake.CMake
tools/nuget.exe
tools/PicoTorrent.Libs
tools/WiX

[D|d]ebug
[R|r]elease

.vs
*.db
*.opendb
*.suo
*.sdf
*.user
