build-x64/
build-x86/
chocolatey/tools/chocolateyinstall.ps1
docs/build
src/VersionInformation.cpp
src/core/version_info.cpp
tools/Cake
tools/Cake.CMake
tools/nuget.exe
tools/PicoTorrent.Libs
tools/WiX

[D|d]ebug
[R|r]elease

.vs
*.db
*.opendb
*.suo
*.sdf
*.user
