build-x64/
build-x86/
build/
docs/build
packaging/AppX/PicoTorrent.mapping
packaging/AppX/PicoTorrentManifest.xml
src/picotorrent/buildinfo.cpp
tools
.vscode
[D|d]ebug
[R|r]elease
.vendor-status

.vs
*.db
*.opendb
*.suo
*.sdf
*.user
