[submodule "vendor/libtorrent"]
	path = vendor/libtorrent
	url = https://github.com/arvidn/libtorrent
[submodule "vendor/zlib"]
	path = vendor/zlib
	url = https://github.com/madler/zlib
	ignore = dirty
[submodule "vendor/libmaxminddb"]
	path = vendor/libmaxminddb
	url = https://github.com/maxmind/libmaxminddb
[submodule "vendor/loguru"]
	path = vendor/loguru
	url = https://github.com/emilk/loguru
[submodule "vendor/wx"]
	path = vendor/wx
	url = https://github.com/wxWidgets/wxWidgets
[submodule "vendor/duktape"]
	path = vendor/duktape
	url = https://github.com/svaarala/duktape-releases
