#include "resources.h"

#include <atlres.h>
#include <commctrl.h>

IDD_WIZARD_WELCOME DIALOGEX 0, 0, 317, 143
STYLE DS_SETFONT | DS_FIXEDSYS | WS_CHILD | WS_DISABLED | WS_CAPTION
FONT 9, "MS Shell Dlg 2", 0, 0, 0x0
{
    CONTROL "qBittorrent", ID_BTN_QBITTORRENT, "BUTTON", BS_COMMANDLINK | WS_TABSTOP | WS_CHILD | WS_VISIBLE, 0, 0,  317, 25
    CONTROL "uTorrent", ID_BTN_UTORRENT, "BUTTON", BS_COMMANDLINK | WS_TABSTOP | WS_CHILD | WS_VISIBLE, 0, 25, 317, 25
}

IDD_WIZARD_CONFIGURE DIALOGEX 0, 0, 317, 143
STYLE DS_SETFONT | DS_FIXEDSYS | WS_CHILD | WS_DISABLED | WS_CAPTION
FONT 9, "MS Shell Dlg 2", 0, 0, 0x0
{
    LTEXT "", -1, 0, 0, 0, 0 // If we dont have this control, the prefs page gets a gray background
}

IDD_WIZARD_PREVIEW DIALOGEX 0, 0, 317, 143
STYLE DS_SETFONT | DS_FIXEDSYS | WS_CHILD | WS_DISABLED | WS_CAPTION
FONT 9, "MS Shell Dlg 2", 0, 0, 0x0
{
    CONTROL "", ID_LIST_PREVIEW, WC_LISTVIEW, LVS_REPORT | WS_BORDER | WS_CHILD, 0, 0, 317, 143
}

IDD_CONFIG_QBITTORRENT DIALOGEX 0, 0, 317, 143
STYLE DS_SETFONT | DS_FIXEDSYS | DS_CONTROL | WS_CHILD | WS_CLIPSIBLINGS | WS_SYSMENU
FONT 9, "MS Shell Dlg 2", 0, 0, 0x0
{
    LTEXT "qBittorrent application data path", IDC_STATIC, 0, 0, 317, 9
    CONTROL "", ID_QB_APPLICATIONDATA, "EDIT", ES_LEFT | WS_BORDER | WS_TABSTOP, 0, 14, 210, 11
    CONTROL "Browse...", ID_QB_APPLICATIONDATABROWSE, "BUTTON", BS_PUSHBUTTON | WS_TABSTOP, 215, 13, 50, 12
}

IDD_CONFIG_UTORRENT DIALOGEX 0, 0, 317, 143
STYLE DS_SETFONT | DS_FIXEDSYS | DS_CONTROL | WS_CHILD | WS_CLIPSIBLINGS | WS_SYSMENU
FONT 9, "MS Shell Dlg 2", 0, 0, 0x0
{
    LTEXT "Path to uTorrent 'resume.dat' file", IDC_STATIC, 0, 0, 317, 9
    CONTROL "", ID_UT_RESUMEDAT, "EDIT", ES_LEFT | WS_BORDER | WS_TABSTOP, 0, 14, 210, 11
    CONTROL "Browse...", ID_UT_RESUMEDATBROWSE, "BUTTON", BS_PUSHBUTTON | WS_TABSTOP, 215, 13, 50, 12
}

