#include "resources.h"

#include <atlres.h>

IDD_WIZARD_WELCOME DIALOGEX 0, 0, 317, 143
STYLE DS_SETFONT | DS_FIXEDSYS | WS_CHILD | WS_DISABLED | WS_CAPTION
FONT 8, "MS Shell Dlg", 0, 0, 0x0
{
    CONTROL "qBittorrent", ID_BTN_QBITTORRENT, "BUTTON", BS_COMMANDLINK | WS_TABSTOP | WS_CHILD | WS_VISIBLE, 0, 0,  317, 25
    CONTROL "uTorrent", ID_BTN_UTORRENT, "BUTTON", BS_COMMANDLINK | WS_TABSTOP | WS_CHILD | WS_VISIBLE, 0, 25, 317, 25
}

IDD_WIZARD_QBITTORRENT DIALOGEX 0, 0, 317, 143
STYLE DS_SETFONT | DS_FIXEDSYS | WS_CHILD | WS_DISABLED | WS_CAPTION
FONT 8, "MS Shell Dlg", 0, 0, 0x0
{
    LTEXT "QBittorrent data path", IDC_STATIC, 0, 0, 317, 10
    CONTROL "", 1313, "EDIT", ES_LEFT | WS_BORDER | WS_TABSTOP, 0, 13, 240, 14
    CONTROL "Browse...", IDC_STATIC, "BUTTON", BS_PUSHBUTTON | WS_TABSTOP, 250, 13, 50, 14
}

IDD_WIZARD_UTORRENT DIALOGEX 0, 0, 317, 143
STYLE DS_SETFONT | DS_FIXEDSYS | WS_CHILD | WS_DISABLED | WS_CAPTION
FONT 8, "MS Shell Dlg", 0, 0, 0x0
{
    LTEXT "uTorrent data path", IDC_STATIC, 0, 0, 317, 10
    CONTROL "", 1313, "EDIT", ES_LEFT | WS_BORDER | WS_TABSTOP, 0, 13, 240, 14
    CONTROL "Browse...", IDC_STATIC, "BUTTON", BS_PUSHBUTTON | WS_TABSTOP, 250, 13, 50, 14
}

IDD_WIZARD_PREVIEW DIALOGEX 0, 0, 317, 143
STYLE DS_SETFONT | DS_FIXEDSYS | WS_CHILD | WS_DISABLED | WS_CAPTION
FONT 8, "MS Shell Dlg", 0, 0, 0x0
{
    LTEXT "Torrents to import", IDC_STATIC, 0, 0, 317, 10
}

