#include "wx/msw/wx.rc"
#include "version.h"

AppIcon ICON "..\\..\\res\\app.ico"

1027 LANGFILE "..\\..\\lang\\1027.json"
1031 LANGFILE "..\\..\\lang\\1031.json"
1033 LANGFILE "..\\..\\lang\\1033.json"
1034 LANGFILE "..\\..\\lang\\1034.json"
1035 LANGFILE "..\\..\\lang\\1035.json"
1036 LANGFILE "..\\..\\lang\\1036.json"
1038 LANGFILE "..\\..\\lang\\1038.json"
1040 LANGFILE "..\\..\\lang\\1040.json"
1042 LANGFILE "..\\..\\lang\\1042.json"
1043 LANGFILE "..\\..\\lang\\1043.json"
1046 LANGFILE "..\\..\\lang\\1046.json"
1048 LANGFILE "..\\..\\lang\\1048.json"
1049 LANGFILE "..\\..\\lang\\1049.json"
1053 LANGFILE "..\\..\\lang\\1053.json"
1055 LANGFILE "..\\..\\lang\\1055.json"
1057 LANGFILE "..\\..\\lang\\1057.json"
1062 LANGFILE "..\\..\\lang\\1062.json"
1079 LANGFILE "..\\..\\lang\\1079.json"

MMDB RCDATA "..\\..\\tools\\GeoLite2\\GeoLite2-Country.mmdb"

AD BITMAP "..\\..\\res\\flags-mini\\AD.bmp"
AE BITMAP "..\\..\\res\\flags-mini\\AE.bmp"
AF BITMAP "..\\..\\res\\flags-mini\\AF.bmp"
AG BITMAP "..\\..\\res\\flags-mini\\AG.bmp"
AI BITMAP "..\\..\\res\\flags-mini\\AI.bmp"
AL BITMAP "..\\..\\res\\flags-mini\\AL.bmp"
AM BITMAP "..\\..\\res\\flags-mini\\AM.bmp"
AN BITMAP "..\\..\\res\\flags-mini\\AN.bmp"
AO BITMAP "..\\..\\res\\flags-mini\\AO.bmp"
AR BITMAP "..\\..\\res\\flags-mini\\AR.bmp"
AS BITMAP "..\\..\\res\\flags-mini\\AS.bmp"
AT BITMAP "..\\..\\res\\flags-mini\\AT.bmp"
AU BITMAP "..\\..\\res\\flags-mini\\AU.bmp"
AW BITMAP "..\\..\\res\\flags-mini\\AW.bmp"
AZ BITMAP "..\\..\\res\\flags-mini\\AZ.bmp"
BA BITMAP "..\\..\\res\\flags-mini\\BA.bmp"
BB BITMAP "..\\..\\res\\flags-mini\\BB.bmp"
BD BITMAP "..\\..\\res\\flags-mini\\BD.bmp"
BE BITMAP "..\\..\\res\\flags-mini\\BE.bmp"
BF BITMAP "..\\..\\res\\flags-mini\\BF.bmp"
BG BITMAP "..\\..\\res\\flags-mini\\BG.bmp"
BH BITMAP "..\\..\\res\\flags-mini\\BH.bmp"
BI BITMAP "..\\..\\res\\flags-mini\\BI.bmp"
BJ BITMAP "..\\..\\res\\flags-mini\\BJ.bmp"
BM BITMAP "..\\..\\res\\flags-mini\\BM.bmp"
BN BITMAP "..\\..\\res\\flags-mini\\BN.bmp"
BO BITMAP "..\\..\\res\\flags-mini\\BO.bmp"
BR BITMAP "..\\..\\res\\flags-mini\\BR.bmp"
BS BITMAP "..\\..\\res\\flags-mini\\BS.bmp"
BT BITMAP "..\\..\\res\\flags-mini\\BT.bmp"
BW BITMAP "..\\..\\res\\flags-mini\\BW.bmp"
BY BITMAP "..\\..\\res\\flags-mini\\BY.bmp"
BZ BITMAP "..\\..\\res\\flags-mini\\BZ.bmp"
CA BITMAP "..\\..\\res\\flags-mini\\CA.bmp"
CD BITMAP "..\\..\\res\\flags-mini\\CD.bmp"
CF BITMAP "..\\..\\res\\flags-mini\\CF.bmp"
CG BITMAP "..\\..\\res\\flags-mini\\CG.bmp"
CH BITMAP "..\\..\\res\\flags-mini\\CH.bmp"
CI BITMAP "..\\..\\res\\flags-mini\\CI.bmp"
CK BITMAP "..\\..\\res\\flags-mini\\CK.bmp"
CL BITMAP "..\\..\\res\\flags-mini\\CL.bmp"
CM BITMAP "..\\..\\res\\flags-mini\\CM.bmp"
CN BITMAP "..\\..\\res\\flags-mini\\CN.bmp"
CO BITMAP "..\\..\\res\\flags-mini\\CO.bmp"
CR BITMAP "..\\..\\res\\flags-mini\\CR.bmp"
CU BITMAP "..\\..\\res\\flags-mini\\CU.bmp"
CV BITMAP "..\\..\\res\\flags-mini\\CV.bmp"
CX BITMAP "..\\..\\res\\flags-mini\\CX.bmp"
CY BITMAP "..\\..\\res\\flags-mini\\CY.bmp"
CZ BITMAP "..\\..\\res\\flags-mini\\CZ.bmp"
DE BITMAP "..\\..\\res\\flags-mini\\DE.bmp"
DJ BITMAP "..\\..\\res\\flags-mini\\DJ.bmp"
DK BITMAP "..\\..\\res\\flags-mini\\DK.bmp"
DM BITMAP "..\\..\\res\\flags-mini\\DM.bmp"
DO BITMAP "..\\..\\res\\flags-mini\\DO.bmp"
DZ BITMAP "..\\..\\res\\flags-mini\\DZ.bmp"
EC BITMAP "..\\..\\res\\flags-mini\\EC.bmp"
EE BITMAP "..\\..\\res\\flags-mini\\EE.bmp"
EG BITMAP "..\\..\\res\\flags-mini\\EG.bmp"
ER BITMAP "..\\..\\res\\flags-mini\\ER.bmp"
ES BITMAP "..\\..\\res\\flags-mini\\ES.bmp"
ET BITMAP "..\\..\\res\\flags-mini\\ET.bmp"
FI BITMAP "..\\..\\res\\flags-mini\\FI.bmp"
FJ BITMAP "..\\..\\res\\flags-mini\\FJ.bmp"
FK BITMAP "..\\..\\res\\flags-mini\\FK.bmp"
FM BITMAP "..\\..\\res\\flags-mini\\FM.bmp"
FO BITMAP "..\\..\\res\\flags-mini\\FO.bmp"
FR BITMAP "..\\..\\res\\flags-mini\\FR.bmp"
GA BITMAP "..\\..\\res\\flags-mini\\GA.bmp"
GB BITMAP "..\\..\\res\\flags-mini\\GB.bmp"
GD BITMAP "..\\..\\res\\flags-mini\\GD.bmp"
GE BITMAP "..\\..\\res\\flags-mini\\GE.bmp"
GH BITMAP "..\\..\\res\\flags-mini\\GH.bmp"
GI BITMAP "..\\..\\res\\flags-mini\\GI.bmp"
GL BITMAP "..\\..\\res\\flags-mini\\GL.bmp"
GM BITMAP "..\\..\\res\\flags-mini\\GM.bmp"
GN BITMAP "..\\..\\res\\flags-mini\\GN.bmp"
GQ BITMAP "..\\..\\res\\flags-mini\\GQ.bmp"
GR BITMAP "..\\..\\res\\flags-mini\\GR.bmp"
GS BITMAP "..\\..\\res\\flags-mini\\GS.bmp"
GT BITMAP "..\\..\\res\\flags-mini\\GT.bmp"
GU BITMAP "..\\..\\res\\flags-mini\\GU.bmp"
GW BITMAP "..\\..\\res\\flags-mini\\GW.bmp"
GY BITMAP "..\\..\\res\\flags-mini\\GY.bmp"
HK BITMAP "..\\..\\res\\flags-mini\\HK.bmp"
HN BITMAP "..\\..\\res\\flags-mini\\HN.bmp"
HR BITMAP "..\\..\\res\\flags-mini\\HR.bmp"
HT BITMAP "..\\..\\res\\flags-mini\\HT.bmp"
HU BITMAP "..\\..\\res\\flags-mini\\HU.bmp"
ID BITMAP "..\\..\\res\\flags-mini\\ID.bmp"
IE BITMAP "..\\..\\res\\flags-mini\\IE.bmp"
IL BITMAP "..\\..\\res\\flags-mini\\IL.bmp"
IN BITMAP "..\\..\\res\\flags-mini\\IN.bmp"
IQ BITMAP "..\\..\\res\\flags-mini\\IQ.bmp"
IR BITMAP "..\\..\\res\\flags-mini\\IR.bmp"
IS BITMAP "..\\..\\res\\flags-mini\\IS.bmp"
IT BITMAP "..\\..\\res\\flags-mini\\IT.bmp"
JM BITMAP "..\\..\\res\\flags-mini\\JM.bmp"
JO BITMAP "..\\..\\res\\flags-mini\\JO.bmp"
JP BITMAP "..\\..\\res\\flags-mini\\JP.bmp"
KE BITMAP "..\\..\\res\\flags-mini\\KE.bmp"
KG BITMAP "..\\..\\res\\flags-mini\\KG.bmp"
KH BITMAP "..\\..\\res\\flags-mini\\KH.bmp"
KI BITMAP "..\\..\\res\\flags-mini\\KI.bmp"
KM BITMAP "..\\..\\res\\flags-mini\\KM.bmp"
KN BITMAP "..\\..\\res\\flags-mini\\KN.bmp"
KP BITMAP "..\\..\\res\\flags-mini\\KP.bmp"
KR BITMAP "..\\..\\res\\flags-mini\\KR.bmp"
KW BITMAP "..\\..\\res\\flags-mini\\KW.bmp"
KY BITMAP "..\\..\\res\\flags-mini\\KY.bmp"
KZ BITMAP "..\\..\\res\\flags-mini\\KZ.bmp"
LA BITMAP "..\\..\\res\\flags-mini\\LA.bmp"
LB BITMAP "..\\..\\res\\flags-mini\\LB.bmp"
LC BITMAP "..\\..\\res\\flags-mini\\LC.bmp"
LI BITMAP "..\\..\\res\\flags-mini\\LI.bmp"
LK BITMAP "..\\..\\res\\flags-mini\\LK.bmp"
LR BITMAP "..\\..\\res\\flags-mini\\LR.bmp"
LS BITMAP "..\\..\\res\\flags-mini\\LS.bmp"
LT BITMAP "..\\..\\res\\flags-mini\\LT.bmp"
LU BITMAP "..\\..\\res\\flags-mini\\LU.bmp"
LV BITMAP "..\\..\\res\\flags-mini\\LV.bmp"
LY BITMAP "..\\..\\res\\flags-mini\\LY.bmp"
MA BITMAP "..\\..\\res\\flags-mini\\MA.bmp"
MC BITMAP "..\\..\\res\\flags-mini\\MC.bmp"
MD BITMAP "..\\..\\res\\flags-mini\\MD.bmp"
MG BITMAP "..\\..\\res\\flags-mini\\MG.bmp"
MH BITMAP "..\\..\\res\\flags-mini\\MH.bmp"
MK BITMAP "..\\..\\res\\flags-mini\\MK.bmp"
ML BITMAP "..\\..\\res\\flags-mini\\ML.bmp"
MM BITMAP "..\\..\\res\\flags-mini\\MM.bmp"
MN BITMAP "..\\..\\res\\flags-mini\\MN.bmp"
MO BITMAP "..\\..\\res\\flags-mini\\MO.bmp"
MQ BITMAP "..\\..\\res\\flags-mini\\MQ.bmp"
MR BITMAP "..\\..\\res\\flags-mini\\MR.bmp"
MS BITMAP "..\\..\\res\\flags-mini\\MS.bmp"
MT BITMAP "..\\..\\res\\flags-mini\\MT.bmp"
MU BITMAP "..\\..\\res\\flags-mini\\MU.bmp"
MV BITMAP "..\\..\\res\\flags-mini\\MV.bmp"
MW BITMAP "..\\..\\res\\flags-mini\\MW.bmp"
MX BITMAP "..\\..\\res\\flags-mini\\MX.bmp"
MY BITMAP "..\\..\\res\\flags-mini\\MY.bmp"
MZ BITMAP "..\\..\\res\\flags-mini\\MZ.bmp"
NA BITMAP "..\\..\\res\\flags-mini\\NA.bmp"
NE BITMAP "..\\..\\res\\flags-mini\\NE.bmp"
NF BITMAP "..\\..\\res\\flags-mini\\NF.bmp"
NG BITMAP "..\\..\\res\\flags-mini\\NG.bmp"
NI BITMAP "..\\..\\res\\flags-mini\\NI.bmp"
NL BITMAP "..\\..\\res\\flags-mini\\NL.bmp"
NO BITMAP "..\\..\\res\\flags-mini\\NO.bmp"
NP BITMAP "..\\..\\res\\flags-mini\\NP.bmp"
NR BITMAP "..\\..\\res\\flags-mini\\NR.bmp"
NU BITMAP "..\\..\\res\\flags-mini\\NU.bmp"
NZ BITMAP "..\\..\\res\\flags-mini\\NZ.bmp"
OM BITMAP "..\\..\\res\\flags-mini\\OM.bmp"
PA BITMAP "..\\..\\res\\flags-mini\\PA.bmp"
PE BITMAP "..\\..\\res\\flags-mini\\PE.bmp"
PF BITMAP "..\\..\\res\\flags-mini\\PF.bmp"
PG BITMAP "..\\..\\res\\flags-mini\\PG.bmp"
PH BITMAP "..\\..\\res\\flags-mini\\PH.bmp"
PK BITMAP "..\\..\\res\\flags-mini\\PK.bmp"
PL BITMAP "..\\..\\res\\flags-mini\\PL.bmp"
PM BITMAP "..\\..\\res\\flags-mini\\PM.bmp"
PN BITMAP "..\\..\\res\\flags-mini\\PN.bmp"
PR BITMAP "..\\..\\res\\flags-mini\\PR.bmp"
PT BITMAP "..\\..\\res\\flags-mini\\PT.bmp"
PW BITMAP "..\\..\\res\\flags-mini\\PW.bmp"
PY BITMAP "..\\..\\res\\flags-mini\\PY.bmp"
QA BITMAP "..\\..\\res\\flags-mini\\QA.bmp"
RO BITMAP "..\\..\\res\\flags-mini\\RO.bmp"
RS BITMAP "..\\..\\res\\flags-mini\\RS.bmp"
RU BITMAP "..\\..\\res\\flags-mini\\RU.bmp"
RW BITMAP "..\\..\\res\\flags-mini\\RW.bmp"
SA BITMAP "..\\..\\res\\flags-mini\\SA.bmp"
SB BITMAP "..\\..\\res\\flags-mini\\SB.bmp"
SC BITMAP "..\\..\\res\\flags-mini\\SC.bmp"
SD BITMAP "..\\..\\res\\flags-mini\\SD.bmp"
SE BITMAP "..\\..\\res\\flags-mini\\SE.bmp"
SG BITMAP "..\\..\\res\\flags-mini\\SG.bmp"
SI BITMAP "..\\..\\res\\flags-mini\\SI.bmp"
SK BITMAP "..\\..\\res\\flags-mini\\SK.bmp"
SL BITMAP "..\\..\\res\\flags-mini\\SL.bmp"
SM BITMAP "..\\..\\res\\flags-mini\\SM.bmp"
SN BITMAP "..\\..\\res\\flags-mini\\SN.bmp"
SO BITMAP "..\\..\\res\\flags-mini\\SO.bmp"
SR BITMAP "..\\..\\res\\flags-mini\\SR.bmp"
ST BITMAP "..\\..\\res\\flags-mini\\ST.bmp"
SU BITMAP "..\\..\\res\\flags-mini\\SU.bmp"
SV BITMAP "..\\..\\res\\flags-mini\\SV.bmp"
SY BITMAP "..\\..\\res\\flags-mini\\SY.bmp"
SZ BITMAP "..\\..\\res\\flags-mini\\SZ.bmp"
TC BITMAP "..\\..\\res\\flags-mini\\TC.bmp"
TD BITMAP "..\\..\\res\\flags-mini\\TD.bmp"
TG BITMAP "..\\..\\res\\flags-mini\\TG.bmp"
TH BITMAP "..\\..\\res\\flags-mini\\TH.bmp"
TJ BITMAP "..\\..\\res\\flags-mini\\TJ.bmp"
TL BITMAP "..\\..\\res\\flags-mini\\TL.bmp"
TM BITMAP "..\\..\\res\\flags-mini\\TM.bmp"
TN BITMAP "..\\..\\res\\flags-mini\\TN.bmp"
TO BITMAP "..\\..\\res\\flags-mini\\TO.bmp"
TR BITMAP "..\\..\\res\\flags-mini\\TR.bmp"
TT BITMAP "..\\..\\res\\flags-mini\\TT.bmp"
TV BITMAP "..\\..\\res\\flags-mini\\TV.bmp"
TW BITMAP "..\\..\\res\\flags-mini\\TW.bmp"
TZ BITMAP "..\\..\\res\\flags-mini\\TZ.bmp"
UA BITMAP "..\\..\\res\\flags-mini\\UA.bmp"
UG BITMAP "..\\..\\res\\flags-mini\\UG.bmp"
US BITMAP "..\\..\\res\\flags-mini\\US.bmp"
UY BITMAP "..\\..\\res\\flags-mini\\UY.bmp"
UZ BITMAP "..\\..\\res\\flags-mini\\UZ.bmp"
VA BITMAP "..\\..\\res\\flags-mini\\VA.bmp"
VC BITMAP "..\\..\\res\\flags-mini\\VC.bmp"
VE BITMAP "..\\..\\res\\flags-mini\\VE.bmp"
VG BITMAP "..\\..\\res\\flags-mini\\VG.bmp"
VI BITMAP "..\\..\\res\\flags-mini\\VI.bmp"
VN BITMAP "..\\..\\res\\flags-mini\\VN.bmp"
VU BITMAP "..\\..\\res\\flags-mini\\VU.bmp"
WF BITMAP "..\\..\\res\\flags-mini\\WF.bmp"
WS BITMAP "..\\..\\res\\flags-mini\\WS.bmp"
YE BITMAP "..\\..\\res\\flags-mini\\YE.bmp"
ZA BITMAP "..\\..\\res\\flags-mini\\ZA.bmp"
ZM BITMAP "..\\..\\res\\flags-mini\\ZM.bmp"
ZW BITMAP "..\\..\\res\\flags-mini\\ZW.bmp"

VS_VERSION_INFO VERSIONINFO
 FILEVERSION        VER_FILE_VERSION
 PRODUCTVERSION     VER_PRODUCT_VERSION
 FILEFLAGSMASK      0x3fL
 FILEFLAGS          VER_FILEFLAGS
 FILEOS             VER_FILEOS
 FILETYPE           VER_FILETYPE
 FILESUBTYPE        0x0L
BEGIN
    BLOCK "StringFileInfo"
    BEGIN
        BLOCK "040904b0"
        BEGIN
            VALUE "FileDescription",  VER_FILE_DESCRIPTION_STR "\0"
            VALUE "FileVersion",      VER_FILE_VERSION_STR "\0"
            VALUE "InternalName",     VER_INTERNAL_NAME_STR "\0"
            VALUE "LegalCopyright",   VER_COPYRIGHT_STR "\0"
            VALUE "OriginalFilename", VER_ORIGINAL_FILENAME_STR "\0"
            VALUE "ProductName",      VER_PRODUCTNAME_STR
            VALUE "ProductVersion",   VER_PRODUCT_VERSION_STR "\0"
        END
    END
    BLOCK "VarFileInfo"
    BEGIN
        VALUE "Translation", 0x409, 1200
    END
END
