#include "version.h"

AppIcon ICON "..\\..\\res\\app.ico"
FileIcon ICON "..\\..\\res\\file.ico"

// Icons
ICO_TERMINAL ICON "..\\..\\res\\terminal.ico"
ICO_TERMINAL_DARK_THEME ICON "..\\..\\res\\terminal-dark-theme.ico"

// SQL migrations
20181208115043_create_setting_table             DBMIGRATION "..\\..\\res\\dbmigrations\\20181208115043_create_setting_table.sql"
20181208115732_insert_default_settings          DBMIGRATION "..\\..\\res\\dbmigrations\\20181208115732_insert_default_settings.sql"
20181211212324_create_torrent_table             DBMIGRATION "..\\..\\res\\dbmigrations\\20181211212324_create_torrent_table.sql"
20181211212637_create_torrent_resume_data_table DBMIGRATION "..\\..\\res\\dbmigrations\\20181211212637_create_torrent_resume_data_table.sql"
20181211213708_create_column_state_table        DBMIGRATION "..\\..\\res\\dbmigrations\\20181211213708_create_column_state_table.sql"
20181212205212_create_session_state_table       DBMIGRATION "..\\..\\res\\dbmigrations\\20181212205212_create_session_state_table.sql"
20181212213425_create_log_table                 DBMIGRATION "..\\..\\res\\dbmigrations\\20181212213425_create_log_table.sql"
20190322145531_create_list_state_table          DBMIGRATION "..\\..\\res\\dbmigrations\\20190322145531_create_list_state_table.sql"
20191222212037_create_torrent_magnet_uri_table  DBMIGRATION "..\\..\\res\\dbmigrations\\20191222212037_create_torrent_magnet_uri_table.sql"
20200214214712_create_path_history_table        DBMIGRATION "..\\..\\res\\dbmigrations\\20200214214712_create_path_history_table.sql"
20200403220617_create_persistence_table         DBMIGRATION "..\\..\\res\\dbmigrations\\20200403220617_create_persistence_table.sql"
20200512234312_create_listen_interface_table    DBMIGRATION "..\\..\\res\\dbmigrations\\20200512234312_create_listen_interface_table.sql"
20200513225831_create_dht_bootstrap_node_table  DBMIGRATION "..\\..\\res\\dbmigrations\\20200513225831_create_dht_bootstrap_node_table.sql"
20200823145617_insert_tracker_settings          DBMIGRATION "..\\..\\res\\dbmigrations\\20200823145617_insert_tracker_settings.sql"
20200912230012_enhance_setting_table            DBMIGRATION "..\\..\\res\\dbmigrations\\20200912230012_enhance_setting_table.sql"
20200916213321_insert_locale_name_setting       DBMIGRATION "..\\..\\res\\dbmigrations\\20200916213321_insert_locale_name_setting.sql"
20200919221011_create_label_table               DBMIGRATION "..\\..\\res\\dbmigrations\\20200919221011_create_label_table.sql"
20200925235912_save_resume_data_interval        DBMIGRATION "..\\..\\res\\dbmigrations\\20200925235912_save_resume_data_interval.sql"
20201015200912_insert_console_settings          DBMIGRATION "..\\..\\res\\dbmigrations\\20201015200912_insert_console_settings.sql"
20201027213145_insert_overview_columns          DBMIGRATION "..\\..\\res\\dbmigrations\\20201027213145_insert_overview_columns.sql"
20201107234213_setup_filters                    DBMIGRATION "..\\..\\res\\dbmigrations\\20201107234213_setup_filters.sql"
20201219222232_insert_connections_limit         DBMIGRATION "..\\..\\res\\dbmigrations\\20201219222232_insert_connections_limit.sql"
20201227195100_insert_ipfilter_settings         DBMIGRATION "..\\..\\res\\dbmigrations\\20201227195100_insert_ipfilter_settings.sql"
20220508103321_insert_theme_id                  DBMIGRATION "..\\..\\res\\dbmigrations\\20220508103321_insert_theme_id.sql"
20230511023104_extend_advanced_settings         DBMIGRATION "..\\..\\res\\dbmigrations\\20230511023104_extend_advanced_settings.sql"

VS_VERSION_INFO VERSIONINFO
 FILEVERSION        VER_FILE_VERSION
 PRODUCTVERSION     VER_PRODUCT_VERSION
 FILEFLAGSMASK      0x3fL
 FILEFLAGS          VER_FILEFLAGS
 FILEOS             VER_FILEOS
 FILETYPE           VER_FILETYPE
 FILESUBTYPE        0x0L
BEGIN
    BLOCK "StringFileInfo"
    BEGIN
        BLOCK "040904b0"
        BEGIN
            VALUE "FileDescription",  VER_FILE_DESCRIPTION_STR "\0"
            VALUE "FileVersion",      VER_FILE_VERSION_STR "\0"
            VALUE "InternalName",     VER_INTERNAL_NAME_STR "\0"
            VALUE "LegalCopyright",   VER_COPYRIGHT_STR "\0"
            VALUE "OriginalFilename", VER_ORIGINAL_FILENAME_STR "\0"
            VALUE "ProductName",      VER_PRODUCTNAME_STR
            VALUE "ProductVersion",   VER_PRODUCT_VERSION_STR "\0"
        END
    END
    BLOCK "VarFileInfo"
    BEGIN
        VALUE "Translation", 0x409, 1200
    END
END
