#include "wx/msw/wx.rc"
AppIcon ICON "..\\..\\res\\app.ico"

1027 LANGFILE "..\\..\\lang\\1027.json"
1031 LANGFILE "..\\..\\lang\\1031.json"
1033 LANGFILE "..\\..\\lang\\1033.json"
1034 LANGFILE "..\\..\\lang\\1034.json"
1035 LANGFILE "..\\..\\lang\\1035.json"
1036 LANGFILE "..\\..\\lang\\1036.json"
1038 LANGFILE "..\\..\\lang\\1038.json"
1040 LANGFILE "..\\..\\lang\\1040.json"
1042 LANGFILE "..\\..\\lang\\1042.json"
1043 LANGFILE "..\\..\\lang\\1043.json"
1046 LANGFILE "..\\..\\lang\\1046.json"
1048 LANGFILE "..\\..\\lang\\1048.json"
1049 LANGFILE "..\\..\\lang\\1049.json"
1053 LANGFILE "..\\..\\lang\\1053.json"
1055 LANGFILE "..\\..\\lang\\1055.json"
1057 LANGFILE "..\\..\\lang\\1057.json"
1062 LANGFILE "..\\..\\lang\\1062.json"
1079 LANGFILE "..\\..\\lang\\1079.json"
