<?xml version="1.0" encoding="utf-8" ?>

<?define IsWin64 = "no" ?>

<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi">
  <Product Id="*"
           Name="PicoTorrent"
           Manufacturer="Viktor Elofsson and contributors."
           Version="$(var.BuildVersion)"
           UpgradeCode="efd723e8-33ac-4d29-a370-31435677ae19"
           Language="1033"
           Codepage="1252">

    <Package Id="*"
             InstallerVersion="405"
             InstallScope="perUser"
             Compressed="yes"
             Platform="x64" />

    <Media Id="1" Cabinet="PicoTorrent.cab" EmbedCab="yes" />

    <MajorUpgrade DowngradeErrorMessage="Downgrading is not supported."
                  Schedule="afterInstallInitialize" />

    <!-- Application icon -->
    <Icon Id="I_PicoTorrent.exe" SourceFile="$(var.ResourcesDirectory)/app.ico" />
    <Property Id="ARPPRODUCTICON" Value="I_PicoTorrent.exe" />

    <!-- Directory -->
    <Directory Id="TARGETDIR" Name="SourceDir">
      <Directory Id="ProgramFiles64Folder" Name="PFiles">
        <Directory Id="INSTALLDIR" Name="PicoTorrent" />
      </Directory>
      <Directory Id="ProgramMenuFolder">
        <Directory Id="ShortcutDir" Name="PicoTorrent" />
      </Directory>
    </Directory>

    <!-- Features -->
    <Feature Id="Complete"
             Level="1"
             Title="PicoTorrent"
             Description="A tiny BitTorrent client."
             Display="expand">
      <ComponentGroupRef Id="CG_PicoTorrent" />
    </Feature>
  </Product>
</Wix>