<?xml version="1.0" encoding="utf-8" ?>

<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi">
    <Fragment>
        <ComponentGroup Id="CG_MainApplication" Directory="INSTALLDIR">
            <Component Id="C_PicoTorrent.exe" Guid="5eb6d6ac-dc76-4fac-80ff-f31a4c05f205">
                <File Id="F_PicoTorrent.exe"
                    KeyPath="yes"
                    Name="PicoTorrent.exe"
                    Source="$(var.PublishDirectory)\PicoTorrent.exe" />

                <ProgId Id="PicoTorrent.Document" Icon="F_PicoTorrent.exe" IconIndex="0">
                    <Extension Id="torrent">
                        <Verb Id="open" Command="Open with PicoTorrent" TargetFile="F_PicoTorrent.exe" Argument="&quot;%1&quot;" />
                        <MIME ContentType="application/x-bittorrent" Default="yes" />
                    </Extension>
                </ProgId>

                <!-- Register magnet: URI handler -->
                <RegistryKey Root="HKCR" Key="magnet">
                    <RegistryValue Type="string" Value="PicoTorent magnet link" />
                    <RegistryValue Type="string" Name="URL Protocol" Value="" />

                    <RegistryKey Key="DefaultIcon">
                        <RegistryValue Type="string" Value="[INSTALLDIR]PicoTorrent.exe,0" />
                    </RegistryKey>

                    <RegistryKey Key="shell\open\command">
                        <RegistryValue Type="string" Value="&quot;[INSTALLDIR]PicoTorrent.exe&quot; &quot;%1&quot;" />
                    </RegistryKey>
                </RegistryKey>

                <RegistryKey Root="HKLM" Key="Software">
                    <RegistryKey Key="Classes">
                        <RegistryKey Key="Applications\PicoTorrent.exe">
                            <RegistryKey Key="SupportedTypes">
                                <RegistryValue Name=".torrent" Value="" Type="string" />
                            </RegistryKey>

                            <RegistryKey Key="shell\open">
                                <RegistryValue Name="FriendlyAppName" Value="PicoTorrent" Type="string" />
                            </RegistryKey>
                        </RegistryKey>

                        <RegistryKey Key="PicoTorrent.Document">
                            <RegistryValue Name="FriendlyTypeName" Value="BitTorrent file" Type="string" />
                        </RegistryKey>
                    </RegistryKey>

                    <RegistryKey Key="Microsoft\Windows\CurrentVersion\App Paths\PicoTorrent.exe">
                        <RegistryValue Value="[#F_PicoTorrent.exe]" Type="string" />
                    </RegistryKey>

                    <RegistryKey Key="PicoTorrent">
                        <RegistryValue Name="InstallDirectory" Value="[INSTALLDIR]" Type="string" />
                        <RegistryValue Name="InstalledVersion" Value="$(var.Version)" Type="string" />

                        <RegistryKey Key="Capabilities">
                            <RegistryValue Name="ApplicationDescription" Value="A tiny, hackable BitTorrent client" Type="string" />
                            <RegistryValue Name="ApplicationIcon" Value="[INSTALLDIR]PicoTorrent.exe,0" Type="string" />
                            <RegistryValue Name="ApplicationName" Value="PicoTorrent" Type="string" />

                            <RegistryKey Key="DefaultIcon">
                                <RegistryValue Value="[INSTALLDIR]PicoTorrent.exe,0" Type="string" />
                            </RegistryKey>

                            <RegistryKey Key="FileAssociations">
                                <RegistryValue Name=".torrent" Value="PicoTorrent.Document" Type="string" />
                            </RegistryKey>

                            <RegistryKey Key="MIMEAssociations">
                                <RegistryValue Name="application/x-bittorrent" Value="PicoTorrent.Document" Type="string" />
                            </RegistryKey>

                            <RegistryKey Key="shell\open\command">
                                <RegistryValue Value="&quot;[INSTALLDIR]PicoTorrent.exe&quot; &quot;%1&quot;" Type="string" />
                            </RegistryKey>
                        </RegistryKey>
                    </RegistryKey>

                    <RegistryKey Key="RegisteredApplications">
                        <RegistryValue Name="PicoTorrent" Value="Software\PicoTorrent\Capabilities" Type="string" />
                    </RegistryKey>
                </RegistryKey>

                <Shortcut Id="S_PicoTorrent"
                        Directory="ProgramMenuFolder"
                        Name="PicoTorrent"
                        WorkingDirectory="INSTALLDIR"
                        Icon="I_PicoTorrent.ico"
                        IconIndex="0"
                        Advertise="yes" />
            </Component>

            <Component Id="C_crashpad_handler.exe" Guid="99f10c73-7f2e-466b-a46b-cf755f884823">
                <File Id="C_crashpad_handler.dll"
                    KeyPath="yes"
                    Name="crashpad_handler.exe"
                    Source="$(var.PublishDirectory)\crashpad_handler.exe" />
            </Component>
        </ComponentGroup>
    </Fragment>
</Wix>
