<?xml version="1.0"?>

<?if $(var.Platform) = "x64" ?>
    <?define InstallFolder = "[ProgramFiles64Folder]PicoTorrent" ?>
    <?define UpgradeCode = "58903cac-fb00-4335-8149-0e1177cc8cba" ?>

    <?define FindVCRedistKey = "Software\Wow6432Node\Microsoft\VisualStudio\14.0\VC\Runtimes\x64" ?>
    <?define VCRedistDescription = "Microsoft Visual C++ 2017 Redistributable (x64) - 14.12.25810" ?>
    <?define VCRedistHash = "6699383b22f2ad050245866a176c2ede6e348443" ?>
    <?define VCRedistName = "VC_redist.x64.exe" ?>
    <?define VCRedistSize = "15328616" ?>
    <?define VCRedistUrl = "https://picotorrent.blob.core.windows.net/public/vcredist/14.12.25810.0/VC_redist.x64.exe" ?>
    <?define VCRedistVersion = "14.12.25810.0" ?>
<?else ?>
    <?define InstallFolder = "[ProgramFilesFolder]PicoTorrent" ?>
    <?define UpgradeCode = "08b52a3a-63eb-47c0-8a75-1df052a99042" ?>

    <?define FindVCRedistKey = "Software\Microsoft\VisualStudio\14.0\VC\Runtimes\x86" ?>
    <?define VCRedistDescription = "Microsoft Visual C++ 2017 Redistributable (x86) - 14.12.25810" ?>
    <?define VCRedistHash = "735bfa44d4b475fafd175ba0e1ced21888c7a2db" ?>
    <?define VCRedistName = "VC_redist.x86.exe" ?>
    <?define VCRedistSize = "14565944" ?>
    <?define VCRedistUrl = "https://picotorrent.blob.core.windows.net/public/vcredist/14.12.25810.0/VC_redist.x86.exe" ?>
    <?define VCRedistVersion = "14.12.25810.0" ?>
<?endif ?>

<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi"
     xmlns:bal="http://schemas.microsoft.com/wix/BalExtension"
     xmlns:util="http://schemas.microsoft.com/wix/UtilExtension">

    <Bundle Name="PicoTorrent"
            Manufacturer="PicoTorrent contributors."
            IconSourceFile="res/app.ico"
            AboutUrl="http://www.picotorrent.org"
            UpgradeCode="$(var.UpgradeCode)"
            Version="$(var.Version)">

        <!-- Search for the C++ redistributable -->
        <util:RegistrySearch Id="FindVCRedist"
                             Root="HKLM"
                             Key="$(var.FindVCRedistKey)"
                             Value="installed"
                             Variable="VCRedistExists"
                             Result="exists" />

        <BootstrapperApplicationRef Id="WixStandardBootstrapperApplication.RtfLicense">
            <bal:WixStandardBootstrapperApplication LicenseFile="LICENSE.rtf"
                                                    LogoFile="res/app.png" />
        </BootstrapperApplicationRef>

        <Variable Name="InstallFolder" Type="string" Value="$(var.InstallFolder)"/>
        <Variable Name="LaunchTarget" Value="[InstallFolder]\PicoTorrent.exe"/>

        <Chain>
            <ExePackage Name="$(var.VCRedistName)"
                        Compressed="no"
                        DetectCondition="VCRedistExists"
                        DownloadUrl="$(var.VCRedistUrl)"
                        InstallCommand="/quiet"
                        PerMachine="yes"
                        Permanent="yes"
                        Vital="yes">

                <RemotePayload Description="$(var.VCRedistDescription)"
                               Hash="$(var.VCRedistHash)"
                               ProductName="$(var.VCRedistDescription)"
                               Size="$(var.VCRedistSize)"
                               Version="$(var.VCRedistVersion)" />
            </ExePackage>

            <RollbackBoundary />

            <MsiPackage Id="PicoTorrentPackage"
                        Compressed="yes"
                        SourceFile="$(var.PicoTorrentInstaller)">
                <MsiProperty Name="INSTALLDIR" Value="[InstallFolder]" />
            </MsiPackage>
        </Chain>
    </Bundle>
</Wix>
