<?xml version="1.0" encoding="utf-8"?>

<?if $(var.Platform) = "x64" ?>
    <?define PlatformProgramFilesFolder = "ProgramFiles64Folder" ?>
    <?define UpgradeCode = "e8ab3252-b12e-4fca-b4c0-ff723283e7dc" ?>
<?else ?>
    <?define PlatformProgramFilesFolder = "ProgramFilesFolder" ?>
    <?define UpgradeCode = "2611493f-f5d7-4c5d-934a-623c9a7c7b36" ?>
<?endif ?>

<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi">
    <Product Id="*"
        UpgradeCode="$(var.UpgradeCode)"
        Name="PicoTorrent"
        Manufacturer="PicoTorrent contributors"
        Language="1033"
        Version="$(var.Version)">

        <Package Id="*"
            Description="PicoTorrent installer"
            Compressed="yes"
            InstallScope="perMachine"
            InstallerVersion="301" />

        <MajorUpgrade DowngradeErrorMessage="A later version of [ProductName] is already installed. Setup will now exit." />

        <Media Id="1" Cabinet="PicoTorrent.cab" EmbedCab="yes" CompressionLevel="high" />
        <Icon Id="I_PicoTorrent.ico" SourceFile="$(var.ResourceDirectory)\app.ico" />

        <Directory Id="TARGETDIR" Name="SourceDir">
            <Directory Id="$(var.PlatformProgramFilesFolder)" Name="PFiles">
                <Directory Id="INSTALLDIR" Name="PicoTorrent">
                    <Component Id="C_PicoTorrent" Guid="5eb6d6ac-dc76-4fac-80ff-f31a4c05f205">
                        <File Id="F_PicoTorrent.exe" Name="PicoTorrent.exe" Source="$(var.PublishDirectory)\PicoTorrent.exe" KeyPath="yes" />

                        <File Id="F_Qt5Core.dll" Name="Qt5Core.dll" Source="$(var.PublishDirectory)\Qt5Core.dll" />
                        <File Id="F_Qt5Gui.dll" Name="Qt5Gui.dll" Source="$(var.PublishDirectory)\Qt5Gui.dll" />
                        <File Id="F_Qt5Widgets" Name="Qt5Widgets.dll" Source="$(var.PublishDirectory)\Qt5Widgets.dll" />

                        <!-- Shortcut -->
                        <Shortcut Id="S_PicoTorrent"
                                  Directory="ProgramMenuFolder"
                                  Name="PicoTorrent"
                                  WorkingDirectory="INSTALLDIR"
                                  Icon="I_PicoTorrent.ico"
                                  IconIndex="0"
                                  Advertise="yes" />

                        <!-- Our owned registry key/values -->
                        <RegistryValue Id="RV_InstallDirectory"
                                       Root="HKLM"
                                       Key="Software\PicoTorrent"
                                       Name="InstallDirectory"
                                       Value="[INSTALLDIR]"
                                       Type="string" />

                        <RegistryValue Id="RV_InstalledVersion"
                                       Root="HKLM"
                                       Key="Software\PicoTorrent"
                                       Name="InstalledVersion"
                                       Value="$(var.Version)"
                                       Type="string" />

                        <!-- Associate PicoTorrent with .torrent files -->
                        <!-- Capabilities keys for Vista/7 "Set Program Access and Defaults" -->
                        <RegistryValue Root="HKLM"
                                       Key="Software\PicoTorrent\Capabilities"
                                       Name="ApplicationDescription"
                                       Value="Tiny, hackable BitTorrent client"
                                       Type="string" />

                        <RegistryValue Root="HKLM"
                                       Key="Software\PicoTorrent\Capabilities"
                                       Name="ApplicationIcon"
                                       Value="[INSTALLDIR]PicoTorrent.exe,0"
                                       Type="string" />

                        <RegistryValue Root="HKLM"
                                       Key="Software\PicoTorrent\Capabilities"
                                       Name="ApplicationName"
                                       Value="PicoTorrent"
                                       Type="string" />

                        <RegistryValue Root="HKLM"
                                       Key="Software\PicoTorrent\Capabilities\DefaultIcon"
                                       Value="[INSTALLDIR]PicoTorrent.exe,0"
                                       Type="string" />

                        <RegistryValue Root="HKLM"
                                       Key="Software\PicoTorrent\Capabilities\FileAssociations"
                                       Name=".torrent"
                                       Value="PicoTorrent.Document"
                                       Type="string" />

                        <RegistryValue Root="HKLM"
                                       Key="Software\PicoTorrent\Capabilities\MIMEAssociations"
                                       Name="application/x-bittorrent"
                                       Value="PicoTorrent.Document"
                                       Type="string" />

                        <RegistryValue Root="HKLM"
                                       Key="Software\PicoTorrent\Capabilities\shell\Open\command"
                                       Value="&quot;[INSTALLDIR]PicoTorrent.exe&quot; &quot;%1&quot;"
                                       Type="string" />

                        <RegistryValue Root="HKLM"
                                       Key="Software\RegisteredApplications"
                                       Name="PicoTorrent"
                                       Value="Software\PicoTorrent\Capabilities"
                                       Type="string" />

                        <!-- App Paths to support Start,Run -> "myapp" -->
                        <RegistryValue Root="HKLM"
                                       Key="Software\Microsoft\Windows\CurrentVersion\App Paths\PicoTorrent.exe"
                                       Value="[!PicoTorrent.exe]"
                                       Type="string" />

                        <RegistryValue Root="HKLM"
                                       Key="Software\Microsoft\Windows\CurrentVersion\App Paths\PicoTorrent.exe"
                                       Name="Path"
                                       Value="[INSTALLDIR]"
                                       Type="string" />

                        <!-- Extend to the "open with" list + Win7 jump menu pinning  -->
                        <RegistryValue Root="HKLM"
                                       Key="Software\Classes\Applications\PicoTorrent.exe\SupportedTypes"
                                       Name=".torrent"
                                       Value=""
                                       Type="string" />

                        <RegistryValue Root="HKLM"
                                       Key="Software\Classes\Applications\PicoTorrent.exe\shell\open"
                                       Name="FriendlyAppName"
                                       Value="PicoTorrent"
                                       Type="string" />

                        <!-- PicoTorrent.Document ProgID -->
                        <RegistryValue Root="HKLM"
                                       Key="Software\Classes\PicoTorrent.Document"
                                       Name="FriendlyTypeName"
                                       Value="BitTorrent file"
                                       Type="string" />

                        <ProgId Id="PicoTorrent.Document" Icon="I_PicoTorrent.ico" Advertise="yes">
                            <Extension Id="torrent">
                                <Verb Id="open" Command="Open with PicoTorrent" Argument="&quot;%1&quot;" />
                                <MIME Advertise="yes" ContentType="application/x-bittorrent" Default="yes" />
                            </Extension>
                        </ProgId>

                        <!-- Magnet URI schema registration -->
                        <RegistryValue Root="HKCR"
                                       Key="magnet"
                                       Value="PicoTorrent magnet link"
                                       Type="string" />

                        <RegistryValue Root="HKCR"
                                       Key="magnet"
                                       Name="URL Protocol"
                                       Value=""
                                       Type="string" />

                        <RegistryValue Root="HKCR"
                                       Key="magnet\DefaultIcon"
                                       Value="[INSTALLDIR]PicoTorrent.exe,0"
                                       Type="string" />

                        <RegistryValue Root="HKCR"
                                       Key="magnet\shell\open\command"
                                       Value="&quot;[INSTALLDIR]PicoTorrent.exe&quot; &quot;%1&quot;"
                                       Type="string" />
                    </Component>
                </Directory>
            </Directory>

            <Directory Id="ProgramMenuFolder" />
        </Directory>

        <Feature Id="F_Complete"
                 Title="PicoTorrent"
                 Absent="disallow"
                 ConfigurableDirectory="INSTALLDIR"
                 Display="expand"
                 Level="1">

            <ComponentRef Id="C_PicoTorrent" />
        </Feature>

        <Property Id="ARPPRODUCTICON" Value="I_PicoTorrent.ico" />
    </Product>
</Wix>
