<?xml version="1.0"?>

<?if $(var.Platform) = "x64" ?>
    <?define InstallFolder = "[ProgramFiles64Folder]PicoTorrent" ?>
    <?define UpgradeCode = "58903cac-fb00-4335-8149-0e1177cc8cba" ?>

    <?define FindVCRedistKey = "Software\Wow6432Node\Microsoft\VisualStudio\14.0\VC\Runtimes\x64" ?>
    <?define VCRedistDescription = "Microsoft Visual C++ 2015-2019 Redistributable (x64) - 14.23.27820" ?>
    <?define VCRedistHash = "3b32bc4b8dec32fd52a8f4bda5648c3a8d999d7c" ?>
    <?define VCRedistName = "VC_redist.x64.exe" ?>
    <?define VCRedistSize = "15073600" ?>
    <?define VCRedistUrl = "https://download.visualstudio.microsoft.com/download/pr/9565895b-35a6-434b-a881-11a6f4beec76/EE84FED2552E018E854D4CD2496DF4DD516F30733A27901167B8A9882119E57C/VC_redist.x64.exe" ?>
    <?define VCRedistVersion = "14.23.27820.0" ?>
<?else ?>
    <?define InstallFolder = "[ProgramFilesFolder]PicoTorrent" ?>
    <?define UpgradeCode = "08b52a3a-63eb-47c0-8a75-1df052a99042" ?>

    <?define FindVCRedistKey = "Software\Microsoft\VisualStudio\14.0\VC\Runtimes\x86" ?>
    <?define VCRedistDescription = "Microsoft Visual C++ 2015-2019 Redistributable (x86) - 14.23.27820" ?>
    <?define VCRedistHash = "aa56b7fe64e957fba2a6bdc65abbaa47438ec620" ?>
    <?define VCRedistName = "VC_redist.x86.exe" ?>
    <?define VCRedistSize = "14373272" ?>
    <?define VCRedistUrl = "https://download.visualstudio.microsoft.com/download/pr/9565895b-35a6-434b-a881-11a6f4beec76/4A8157B2FF422C259DDAA2D0E568C0C0AFAB940E1F6E0E482EF83E90DDBAD2D6/VC_redist.x86.exe" ?>
    <?define VCRedistVersion = "14.23.27820.0" ?>
<?endif ?>

<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi"
     xmlns:bal="http://schemas.microsoft.com/wix/BalExtension"
     xmlns:util="http://schemas.microsoft.com/wix/UtilExtension">

    <Bundle Name="PicoTorrent"
            Manufacturer="PicoTorrent contributors."
            IconSourceFile="res/app.ico"
            AboutUrl="http://www.picotorrent.org"
            UpgradeCode="$(var.UpgradeCode)"
            Version="$(var.Version)">

        <!-- Search for the C++ redistributable -->
        <util:RegistrySearch Id="FindVCRedist"
                             Root="HKLM"
                             Key="$(var.FindVCRedistKey)"
                             Value="Version"
                             Variable="VCREDISTVERSION" />

        <BootstrapperApplicationRef Id="WixStandardBootstrapperApplication.RtfLicense">
            <bal:WixStandardBootstrapperApplication LicenseFile="LICENSE.rtf"
                                                    LogoFile="res/app.png" />
        </BootstrapperApplicationRef>

        <Variable Name="InstallFolder" Type="string" Value="$(var.InstallFolder)"/>
        <Variable Name="LaunchTarget" Value="[InstallFolder]\PicoTorrent.exe"/>

        <Chain>
            <ExePackage Name="$(var.VCRedistName)"
                        Compressed="no"
                        DetectCondition="VCREDISTVERSION &gt;= v14.23.27820"
                        DownloadUrl="$(var.VCRedistUrl)"
                        InstallCommand="/quiet /norestart"
                        PerMachine="yes"
                        Permanent="yes"
                        Vital="yes">

                <RemotePayload Description="$(var.VCRedistDescription)"
                               Hash="$(var.VCRedistHash)"
                               ProductName="$(var.VCRedistDescription)"
                               Size="$(var.VCRedistSize)"
                               Version="$(var.VCRedistVersion)" />
            </ExePackage>

            <RollbackBoundary />

            <MsiPackage Id="PicoTorrentPackage"
                        Compressed="yes"
                        SourceFile="$(var.PicoTorrentInstaller)">
                <MsiProperty Name="INSTALLDIR" Value="[InstallFolder]" />
            </MsiPackage>
        </Chain>
    </Bundle>
</Wix>
