#include "resource.h"

IDI_APPICON ICON "../res/app.ico"

IDR_MAINMENU MENU
{
    POPUP "&File"
    {
        MENUITEM "&Add torrent", ID_FILE_ADDTORRENT
        MENUITEM SEPARATOR
        MENUITEM "E&xit", ID_FILE_EXIT
    }
}
