#include <picotorrent/client/ui/resources.hpp>
#include <windows.h>
#include <commctrl.h>

IDI_APPICON     ICON    "..\\res\\app.ico"

// Default language is 1033, so embed the JSON file
1337 TEXTFILE "..\\lang\\1033.json"

// Accelerators
IDR_PICO_ACCELERATORS ACCELERATORS
{
    "^A",      IDA_SELECT_ALL
    VK_DELETE, IDA_REMOVE_TORRENTS, VIRTKEY
    VK_DELETE, IDA_REMOVE_TORRENTS_DATA, VIRTKEY, SHIFT
}

// About dialog
IDD_ABOUT DIALOGEX 0, 0, 200, 200
FONT 9, "MS Shell Dlg"
STYLE DS_MODALFRAME | WS_POPUP | WS_CAPTION | WS_SYSMENU | WS_VISIBLE
{
    ICON IDI_APPICON, ID_PICO_LOGO, 10, 10, 0, 0
    CTEXT "", ID_PICOTORRENT_V_FORMAT, 10, 100, 180, 20
    CTEXT "", ID_BUILD_INFO_FORMAT, 10, 120, 180, 20
    LTEXT "", ID_PICOTORRENT_DESCRIPTION, 10, 150, 180, 40
    CONTROL "", ID_GITHUB_LINK, "SysLink", WS_CHILD, 10, 185, 180, 12
}

// Remote QR dialog
IDD_REMOTE_QR DIALOGEX 0, 0, 300, 300
FONT 9, "MS Shell Dlg"
STYLE DS_MODALFRAME | WS_POPUP | WS_CAPTION | WS_SYSMENU | WS_VISIBLE
{
    CONTROL "", ID_QR_CONTROL, "PicoTorrent/QR", WS_CHILD, 0, 0, 300, 300
}

// Add torrent dialog
IDD_ADD_TORRENT DIALOGEX 0, 0, 300, 215
FONT 9, "MS Shell Dlg"
STYLE DS_MODALFRAME | WS_POPUP | WS_VISIBLE | WS_CAPTION | WS_SYSMENU
{
    LTEXT "", ID_TORRENT_TEXT, 10, 10, 80, 10
    COMBOBOX ID_TORRENT, 100, 10, 190, 10, CBS_DROPDOWNLIST | WS_VSCROLL | WS_TABSTOP

    LTEXT "", ID_SIZE_TEXT, 10, 25, 80, 10
    LTEXT "", ID_SIZE, 100, 25, 80, 10

    GROUPBOX "" ID_STORAGE_GROUP, 10, 40, 280, 150
    LTEXT "", ID_SAVE_PATH_TEXT, 15, 53, 40, 10
    EDITTEXT ID_SAVE_PATH, 100, 53, 160, 11
    PUSHBUTTON "", ID_BROWSE, 265, 53, 20, 11

    LTEXT "", ID_ADD_STORAGE_MODE_TEXT, 15, 68, 80, 10
    RADIOBUTTON "", ID_ADD_STORAGE_MODE_SPARSE, 100, 68, 50, 10
    RADIOBUTTON "", ID_ADD_STORAGE_MODE_FULL, 150, 68, 50, 10

    CONTROL "", ID_FILES, WC_LISTVIEW, LVS_OWNERDATA | LVS_REPORT | WS_BORDER, 15, 83, 270, 102

    PUSHBUTTON "", IDOK, 240, 195, 55, 14
}

// Add magnet link dialog
IDD_ADD_MAGNET_LINK DIALOGEX 0, 0, 200, 110
FONT 9, "MS Shell Dlg"
STYLE DS_MODALFRAME | WS_POPUP | WS_VISIBLE | WS_CAPTION | WS_SYSMENU
{
    GROUPBOX "", ID_MAGNET_LINKS_GROUP, 5, 5, 190, 80
    EDITTEXT ID_MAGNET_LINKS_TEXT, 10, 18, 180, 62, ES_MULTILINE | ES_AUTOHSCROLL | ES_WANTRETURN
    CONTROL "", ID_MAGNET_PROGRESS, PROGRESS_CLASS, PBS_MARQUEE | WS_CHILD, 5, 90, 100, 15
    LTEXT "", ID_MAGNET_CURRENT_STATUS, 110, 92, 30, 11
    PUSHBUTTON "", ID_MAGNET_ADD_LINKS, 145, 90, 50, 15
} 

// Add tracker dialog
IDD_ADD_TRACKER DIALOGEX 0, 0, 200, 40
FONT 9, "MS Shell Dlg"
STYLE DS_MODALFRAME | WS_POPUP | WS_VISIBLE | WS_CAPTION | WS_SYSMENU
{
    EDITTEXT ID_ADD_TRACKER_URL, 5, 5, 190, 11, ES_AUTOHSCROLL
    PUSHBUTTON "", IDOK, 145, 20, 50, 15
} 

// Preferences - General
IDD_PREFERENCES_GENERAL DIALOGEX 0, 0, 252, 215
FONT 9, "MS Shell Dlg"
{
    GROUPBOX "", ID_UI_GROUP, 5, 10, 240, 35
    LTEXT "", ID_LANGUAGE_TEXT, 15, 23, 50, 10
    COMBOBOX ID_LANGUAGE, 75, 23, 160, 10, CBS_DROPDOWNLIST | WS_VSCROLL | WS_TABSTOP

    GROUPBOX "", ID_MISC_GROUP, 5, 55, 240, 50
    CHECKBOX "", ID_AUTOSTART_PICO, 15, 68, 120, 11
    LTEXT "", ID_START_POSITION_TEXT, 15, 83, 80, 11
    COMBOBOX ID_START_POSITION, 75, 83, 80, 10, CBS_DROPDOWNLIST | WS_VSCROLL | WS_TABSTOP
}

// Preferences - Downloads
IDD_PREFERENCES_DOWNLOADS DIALOGEX 0, 0, 252, 215
FONT 9, "MS Shell Dlg"
{
    GROUPBOX "", ID_TRANSFERS_GROUP, 5, 10, 240, 45
    LTEXT "", ID_DEFSAVEPATH_TEXT, 15, 23, 50, 10
    EDITTEXT ID_PREFS_DEFSAVEPATH, 75, 23, 140, 11
    PUSHBUTTON "", ID_PREFS_DEFSAVEPATH_BROWSE, 220, 23, 18, 11
    CHECKBOX "", ID_PREFS_PROMPTFORSAVEPATH, 15, 38, 80, 11

    GROUPBOX "", ID_DL_PREFS_LIMITS_GROUP, 5, 60, 240, 45
    LTEXT "", ID_PREFS_GLOBAL_DL_LIMIT_TEXT, 15, 73, 80, 11
    EDITTEXT ID_PREFS_GLOBAL_DL_LIMIT, 75, 73, 30, 11, ES_RIGHT | ES_NUMBER
    LTEXT "", ID_PREFS_GLOBAL_DL_LIMIT_HELP, 110, 73, 80, 11

    LTEXT "", ID_PREFS_GLOBAL_UL_LIMIT_TEXT, 15, 88, 80, 11
    EDITTEXT ID_PREFS_GLOBAL_UL_LIMIT, 75, 88, 30, 11, ES_RIGHT | ES_NUMBER
    LTEXT "", ID_PREFS_GLOBAL_UL_LIMIT_HELP, 110, 88, 80, 11
}

// Preferences - Connection
IDD_PREFERENCES_CONNECTION DIALOGEX 0, 0, 0, 0
FONT 9, "MS Shell Dlg"
{
    // -- Listen interface
    GROUPBOX "", ID_LISTEN_INTERFACE_GROUP, 5, 10, 240, 45
    EDITTEXT ID_LISTEN_INTERFACES, 10, 23, 230, 25, ES_MULTILINE | ES_AUTOHSCROLL | ES_AUTOVSCROLL | ES_WANTRETURN

    // -- Proxy
    GROUPBOX "", ID_PROXY_GROUP, 5, 68, 240, 120
    LTEXT "", ID_TYPE_TEXT, 15, 81, 80, 10
    COMBOBOX ID_PROXY_TYPE, 75, 81, 120, 10, CBS_DROPDOWNLIST | WS_VSCROLL | WS_TABSTOP
    LTEXT "", ID_HOST_TEXT, 15, 96, 80, 10
    EDITTEXT ID_PROXY_HOST, 75, 96, 163, 11
    LTEXT "", ID_PROXY_PORT_TEXT, 15, 111, 80, 10
    EDITTEXT ID_PROXY_PORT, 75, 111, 30, 11, ES_NUMBER
    LTEXT "", ID_PROXY_USERNAME_TEXT, 15, 126, 80, 10
    EDITTEXT ID_PROXY_USERNAME, 75, 126, 80, 11
    LTEXT "", ID_PROXY_PASSWORD_TEXT, 15, 141, 80, 10
    EDITTEXT ID_PROXY_PASSWORD, 75, 141, 80, 11, ES_PASSWORD
    CHECKBOX "", ID_PROXY_FORCE, 15, 156, 80, 10
    CHECKBOX "", ID_PROXY_HOSTNAMES, 125, 156, 80, 10
    CHECKBOX "", ID_PROXY_PEERS, 15, 171, 100, 10
    CHECKBOX "", ID_PROXY_TRACKERS, 125, 171, 100, 10
}

// Preferences - Remote
IDD_PREFERENCES_REMOTE DIALOGEX 0, 0, 0, 0
FONT 9, "MS Shell Dlg"
{
    // -- WebSocket options
    GROUPBOX "", ID_REMOTE_OPTIONS_GROUP, 5, 10, 240, 45
    CHECKBOX "", ID_REMOTE_ENABLE, 10, 23, 100, 10
    LTEXT "", ID_REMOTE_PORT_TEXT, 10, 38, 80, 10
    EDITTEXT ID_REMOTE_PORT, 75, 38, 30, 11, ES_NUMBER

    // -- Security
    GROUPBOX "", ID_REMOTE_SECURITY_GROUP, 5, 68, 240, 125
    LTEXT "", ID_REMOTE_TOKEN_TEXT, 15, 81, 80, 10
    EDITTEXT ID_REMOTE_TOKEN, 75, 81, 165, 11, ES_AUTOHSCROLL | ES_READONLY
    LTEXT "", ID_REMOTE_CERT_TEXT, 10, 100, 180, 10
    EDITTEXT ID_REMOTE_CERT_PUBKEY, 10, 111, 230, 78, ES_MULTILINE | ES_AUTOVSCROLL | ES_READONLY | WS_VSCROLL

    CONTROL "", ID_REMOTE_SHOW_QR, "SysLink", WS_CHILD, 5, 200, 180, 12
}

// Preferences - Advanced
IDD_PREFERENCES_ADVANCED DIALOGEX 0, 0, 0, 0
FONT 9, "MS Shell Dlg"
{
    GROUPBOX "", ID_EXPERIMENTAL_GROUP, 5, 10, 240, 30
    CHECKBOX "", ID_USE_PICO_ID, 15, 23, 160, 10
}

// Details - Overview
IDD_DETAILS_OVERVIEW DIALOGEX 0, 0, 252, 215
FONT 9, "MS Shell Dlg"
{
    GROUPBOX "", ID_OVERVIEW_STATISTICS_GROUP, 5, 10, 340, 75

    LTEXT "", ID_OVERVIEW_RATIO_TEXT, 15, 23, 80, 10
    LTEXT "", ID_OVERVIEW_RATIO, 75, 23, 80, 10

    LTEXT "", ID_OVERVIEW_PIECES_TEXT, 15, 38, 80, 10
    LTEXT "", ID_OVERVIEW_PIECES, 75, 38, 160, 10

    LTEXT "", ID_OVERVIEW_DOWNLOADED_TEXT, 15, 53, 80, 10
    LTEXT "", ID_OVERVIEW_DOWNLOADED, 75, 53, 80, 10

    LTEXT "", ID_OVERVIEW_UPLOADED_TEXT, 15, 68, 80, 10
    LTEXT "", ID_OVERVIEW_UPLOADED, 75, 68, 80, 10
}

// Details - Options
IDD_DETAILS_OPTIONS DIALOGEX 0, 0, 252, 215
FONT 9, "MS Shell Dlg"
{
    GROUPBOX "", ID_LIMITS_GROUP, 5, 10, 340, 90

    LTEXT "", ID_DL_LIMIT_TEXT, 15, 23, 80, 10
    EDITTEXT ID_DL_LIMIT, 75, 22, 30, 11, ES_RIGHT | ES_NUMBER
    LTEXT "", ID_DL_LIMIT_HELP, 110, 23, 80, 10

    LTEXT "", ID_UL_LIMIT_TEXT, 15, 38, 80, 10
    EDITTEXT ID_UL_LIMIT, 75, 37, 30, 11, ES_RIGHT | ES_NUMBER
    LTEXT "", ID_UL_LIMIT_HELP, 110, 38, 80, 10

    LTEXT "", ID_MAX_CONNECTIONS_TEXT, 15, 53, 80, 10
    EDITTEXT ID_MAX_CONNECTIONS, 75, 52, 30, 11, ES_RIGHT | ES_NUMBER
    LTEXT "", ID_MAX_CONNECTIONS_HELP, 110, 53, 80, 10

    LTEXT "", ID_MAX_UPLOADS_TEXT, 15, 68, 80, 10
    EDITTEXT ID_MAX_UPLOADS, 75, 67, 30, 11, ES_RIGHT | ES_NUMBER
    LTEXT "", ID_MAX_UPLOADS_HELP, 110, 68, 80, 10

    CHECKBOX "", ID_SEQUENTIAL_DOWNLOAD, 75, 83, 80, 10
}

// Details - Files
IDD_DETAILS_FILES DIALOGEX 0, 0, 252, 215
FONT 9, "MS Shell Dlg"
{
    LTEXT "", -1, 0, 0, 0, 0 // If we dont have this control, the prefs page gets a gray background
    CONTROL "", ID_DETAILS_FILES_LIST, WC_LISTVIEW, LVS_OWNERDATA | LVS_REPORT | WS_BORDER | WS_CHILD, 5, 10, 342, 200
}

// Details - Peers
IDD_DETAILS_PEERS DIALOGEX 0, 0, 352, 215
FONT 9, "MS Shell Dlg"
{
    LTEXT "", -1, 0, 0, 0, 0 // If we dont have this control, the prefs page gets a gray background
    CONTROL "", ID_DETAILS_PEERS_LIST, WC_LISTVIEW, LVS_OWNERDATA | LVS_REPORT | WS_BORDER | WS_CHILD, 5, 10, 342, 200
}

// Details - Trackers
IDD_DETAILS_TRACKERS DIALOGEX 0, 0, 352, 215
FONT 9, "MS Shell Dlg"
{
    LTEXT "", -1, 0, 0, 0, 0 // If we dont have this control, the prefs page gets a gray background
    CONTROL "", ID_DETAILS_TRACKERS_LIST, WC_LISTVIEW, LVS_OWNERDATA | LVS_REPORT | WS_BORDER | WS_CHILD, 5, 10, 342, 200
}
