<?xml version="1.0"?>

<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi"
     xmlns:bal="http://schemas.microsoft.com/wix/BalExtension"
     xmlns:util="http://schemas.microsoft.com/wix/UtilExtension">

    <Bundle Name="PicoTorrent"
            Manufacturer="PicoTorrent contributors."
            IconSourceFile="res/app.ico"
            AboutUrl="http://www.picotorrent.org"
            UpgradeCode="58903cac-fb00-4335-8149-0e1177cc8cba"
            Version="$(var.Version)">

        <!-- Search for the C++ redistributable -->
        <util:RegistrySearch Id="FindVCRedist"
                             Root="HKLM"
                             Key="Software\Wow6432Node\Microsoft\VisualStudio\14.0\VC\Runtimes\x64"
                             Value="installed"
                             Variable="VCRedistExists"
                             Result="exists" />

        <BootstrapperApplicationRef Id="WixStandardBootstrapperApplication.RtfLicense">
            <bal:WixStandardBootstrapperApplication LicenseFile="LICENSE.rtf"
                                                    LogoFile="res/app.png" />
        </BootstrapperApplicationRef>

        <Variable Name="InstallFolder" Type="string" Value="[ProgramFiles64Folder]PicoTorrent"/>
        <Variable Name="LaunchTarget" Value="[InstallFolder]\PicoTorrent.exe"/>

        <Chain>
            <ExePackage Name="vc_redist.x64.exe"
                        Compressed="no"
                        DetectCondition="VCRedistExists"
                        DownloadUrl="https://download.microsoft.com/download/9/3/F/93FCF1E7-E6A4-478B-96E7-D4B285925B00/vc_redist.x64.exe"
                        InstallCommand="/quiet"
                        PerMachine="yes"
                        Vital="yes">

                <RemotePayload
                               Description="Microsoft Visual C++ 2015 Redistributable (x64) - 14.0.23026"
                               Hash="3155cb0f146b927fcc30647c1a904cd162548c8c"
                               ProductName="Microsoft Visual C++ 2015 Redistributable (x64) - 14.0.23026"
                               Size="14573568"
                               Version="14.0.23026.0" />
            </ExePackage>

            <RollbackBoundary />

            <MsiPackage Id="PicoTorrentPackage"
                        Compressed="yes"
                        SourceFile="$(var.PicoTorrentInstaller)">
                <MsiProperty Name="INSTALLDIR" Value="[InstallFolder]" />
            </MsiPackage>
        </Chain>
    </Bundle>
</Wix>
