<?xml version="1.0"?>

<?if $(var.Platform) = "x64" ?>
    <?define InstallFolder = "[ProgramFiles64Folder]PicoTorrent" ?>
    <?define UpgradeCode = "58903cac-fb00-4335-8149-0e1177cc8cba" ?>
<?else ?>
    <?define InstallFolder = "[ProgramFilesFolder]PicoTorrent" ?>
    <?define UpgradeCode = "08b52a3a-63eb-47c0-8a75-1df052a99042" ?>
<?endif ?>

<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi"
     xmlns:bal="http://schemas.microsoft.com/wix/BalExtension"
     xmlns:util="http://schemas.microsoft.com/wix/UtilExtension">

    <Bundle Name="PicoTorrent"
            Manufacturer="PicoTorrent contributors."
            IconSourceFile="res/app.ico"
            AboutUrl="http://www.picotorrent.org"
            UpgradeCode="$(var.UpgradeCode)"
            Version="$(var.Version)">

        <BootstrapperApplicationRef Id="WixStandardBootstrapperApplication.RtfLicense">
            <bal:WixStandardBootstrapperApplication LicenseFile="LICENSE.rtf"
                                                    LogoFile="res/app.png" />
        </BootstrapperApplicationRef>

        <Variable Name="InstallFolder" Type="string" Value="$(var.InstallFolder)"/>
        <Variable Name="LaunchTarget" Value="[InstallFolder]\PicoTorrent.exe"/>

        <Chain>
            <MsiPackage Id="PicoTorrentPackage"
                        Compressed="yes"
                        SourceFile="$(var.PicoTorrentInstaller)">
                <MsiProperty Name="INSTALLDIR" Value="[InstallFolder]" />
            </MsiPackage>
        </Chain>
    </Bundle>
</Wix>
